@import "custom";

// Title font
@import url("https://fonts.googleapis.com/css2?family=Crushed&display=swap");

// Global Colors
$brown: #682c0e;
$beige: #f2e6d9;
$orange: #d77d4e;

// background image
body {
  background-image: url("../data/images/bg_image.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-attachment: fixed;
}

// Navbar

#navbar-wrapper {
  background-color: white;

  .nav-link {
    color: $orange !important; // all navbar links
  }

  #navbar-top-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #logo {
      margin: 20px 0px 0px 5px;
    }

    #title {
      color: $orange;
      font-family: "Crushed", cursive;
      text-align: center;
      margin: auto;
    }

    #signup-login {
      color: $orange;
      margin: 20px 20px 0px 0px;
    }
  }

  #navbar-custom-links {
    margin: auto; // main navbar links
  }

  .navbar-custom {
    border-bottom: 3px $brown solid; // line indicating end of navbar
  }
}

.home-quote-container {
  margin-top: 10px;
}

//all headings
.heading-container {
  margin: 20px 0px;
  .heading {
    padding: 0px 5px;
    font-size: 2em;
    color: $orange;
    background-color: $beige;
    border-radius: 5px;
  }
}

// home
.home-quote-container {
  margin-top: 50px;
  margin-bottom: 50px;
  .quote {
    width: 300px;
    margin: 100px auto;
  }
}

.find-a-class-image {
  width: 300px;
  padding: 20px;
}
.gallery-image {
  width: 300px;
  margin: auto;
  display: block;
  padding: 20px;
}

.main-container {
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  background-color: $beige;
}
.small-container {
  max-width: 500px;
  margin: auto;
  // text-align: center;
  padding: 20px;
}
.spacer {
  width: 61px;
}

// footer

#footer-wrapper {
  background-color: $beige;

  .footer-custom {
    border-top: 3px $brown solid;
  }
  .nav-link {
    color: $brown !important; // all navbar links
  }
  #footer-custom-links {
    margin: auto;
  }
}
// Media Queries
.disappear-class {
  display: none;
}

@include media-breakpoint-up(lg) {
  .disappear-class {
    display: block;
  }
}
